<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grandmagear">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Patient_Main_Lobby.BatteryLevel_MPP_1_3"
            android:parentActivityName=".Patient_Main_Lobby.HomePage_MPP_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_Main_Lobby.Location_MPP_1_2"
            android:parentActivityName=".Patient_Main_Lobby.HomePage_MPP_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_Main_Lobby.HeartRate_MPP_1_1"
            android:parentActivityName=".Patient_Main_Lobby.HomePage_MPP_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_Main_Lobby.HomePage_MPP_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>